<div id="wrapper">
<div id="main-dashboard">
  <div class="logo">
  <img src="https://sharenergy.com.br/wp-content/uploads/2017/07/logo2_color-01-e1502902872425.png" alt="">

  </div>
  <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link <%- path === '/' ? 'active' : ' ' %> " href="/"> <i class="fas fa-home"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%- path === '/users' ? 'active' : ' ' %>" href="/users"> <i class="fas fa-users"></i> Usuarios</a>
      </li>
  </ul>
</div>
<div class="corpo">



