<%- include('partials/head.ejs') %>   
</head>
<body>
    <%- include('partials/dashboard.ejs') %>
    <div class="m-auto">
        <h1 class="display-3 text-center">404</h1>
        <h1 class="display-5 text-muted">Página não encontrada</h1>
        
    </div>
   
    
    <%- include('partials/footer.ejs') %>

</body>
</html>