.MuiAppBar-colorPrimary {
  background-color: #222;
}

.Title {
  margin-top: 100px;
  text-align: center;
}

.Container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormContainer {
  width: 350px;
}

.FormLabel {
  margin-bottom: 8px;
  padding: 4px;
  border-radius: 5px;
}

.MuiFormLabel-root.Mui-focused,
.MuiIconButton-colorSecondary:hover,
.MuiRadio-colorSecondary.Mui-checked:hover {
  background-color: rgba(0, 162, 162, 0.04);
}

.MuiScopedCssBaseline-root {
  background-color: transparent;
}

.MuiFormLabel-root,
.MuiRadio-root {
  color: #aaa;
}

.MuiFormLabel-root.Mui-focused,
.MuiRadio-colorSecondary.Mui-checked {
  color: #00a2a2;
}

.MuiScopedCssBaseline-root {
  color: #ddd;
}

.MuiPaper-root {
  background-color: #222;
}

@media only screen and (max-width: 950px) {
  .Container {
    flex-direction: column-reverse;
  }

  .FormContainer {
    margin-top: 20px;
  }

  .VictoryContainer {
    height: 500px;
  }
}

@media only screen and (max-width: 650px) {
  .MuiTypography-body1 {
    font-size: 15px;
  }

  .Title {
    font-size: 28px;
  }
}
