<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="bg-danger p-5">
        <h1 class="text-white text-center">Share Energy</h1>
    </div>
    <div class="col-md-6 mx-auto">
        <h3 class="text-muted py-3">Qual variavel deve ser utilizada ?</h3>
        <form action="{% url 'grafico' %}" method="GET">
            <div>
                {% if variavel == "tensão" %}
                    <input type="radio" value="tensao_V" checked name="variavel"> Tensão</input>
                {% else %}
                    <input type="radio" value="tensao_V" name="variavel"> Tensão</input>
                {% endif %}
            </div>
            <div>
                {% if variavel == "corrente" %}
                    <input type="radio" value="corrente_A" checked name="variavel"> Corrente</input>
                {% else %}
                    <input type="radio" value="corrente_A" name="variavel"> Corrente</input>
                {% endif %}
            </div>
            <div>
                {% if variavel == "potência" %}
                    <input type="radio" value="potencia_kW" checked name="variavel"> Potencia</input>
                {% else %}
                    <input type="radio" value="potencia_kW" name="variavel"> Potencia</input>
                {% endif %}
            </div>
            <div>
                {% if variavel == "temperatura" %}
                    <input type="radio" value="temperatura_C" checked name="variavel"> Temperatura</input>
                {% else %}
                    <input type="radio" value="temperatura_C" name="variavel"> Temperatura</input>
                {% endif %}
            </div>
            <input type="submit" class="btn btn-primary my-2">
        </form>
        <div class="w-100 mx-auto">
            <img src="data:image/png;base64,{{data}}" alt="grafico">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>